@charset "UTF-8";

*{margin:0;padding:0;}

header
{
	background-color:seashell;
	position:fixed;
	left:0;
	top:0;
	width:100%;
	text-align:center;
}

aside
{
	padding:10px;
	background-color:honeydew;
	position: absolute;
	top: 100px;
	right: 0;
	width: 200px;
}

footer
{
	padding:5px;
	background-color:ivory;
	text-align:center;
}

#main
{
	margin:128px 0 0 0;
	text-align:center;
}

#kekka
{
	margin:128px 0 0 0;
	text-align:center;
}

#history
{
	padding:50px;
	background-color:mintcream;
}

#contents{position:relative;}

#sub{position:absolute;left:0;}
#sub.top{top:0;}
#sub.fixed{position:fixed;top:0;}
#sub.bottom{bottom:0;}
