@charset "UTF-8"

*{margin:0;padding:0;}

header
{
	position:fixed;
	left:0;
	top:0;
	width:100%;
	text-align:center;
}

aside
{
	position: absolute;
	top: 20px;
	left: 0;
	width: 200px;
}

#contents{position:relative;}

#sub{position:absolute;left:0;}
#sub.top{top:0;}
#sub.fixed{position:fixed;top:0;}
#sub.bottom{bottom:0;}
